/* CSS */
.jumbotron, .cards, .nav {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    
    text-align: center;
}
body {
    
background: -webkit-linear-gradient(171deg, rgb(212, 235, 213), rgb(232, 214, 214));
background: linear-gradient(171deg, rgb(212, 235, 213), rgb(232, 214, 214));

}
.navbar {
    font-family: 'Comfortaa', cursive;
}
ol {
    font-family: 'Comfortaa', cursive;
}
.carousel-inner {
    font-family: 'Comfortaa', cursive;
}
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
.btn:hover {
    color: #a1e600;
    background-color: #846996;
}